:root {
    --black: #000000;
    --white: #ffffff;
    --grey: #afaeae;
    --red: #fa2121;
    --xs: .75rem;
    --small: 1.25rem;
    --medium: 1.75rem;
    --large: 2.25rem;
    --xl: 2.75rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

a, button {
    cursor: pointer;
}

/* BTN */

.btn {
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    font-size: var(--small);
    font-weight: bold;
}

.btn-grey {
    background-color: var(--grey);
    color: var(--white);
}

.btn-white {
    background-color: var(--white);
    color: var(--black);
}

/* NAVIGATION */

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5vh;
    background-color: var(--black);
}

.navigation figure {
    width: 5rem;
    height: 5rem;
}

.navigation figure img {
    width: 100%;
    height: 100%;
}

.navigation-left {
    display: flex;
    justify-content: center;
}

.navigation-left,
.navigation-right {
    padding: var(--small) var(--medium);
}

.navigation-left span {
    color: var(--white);
}

.navigation-left span:not(:last-child) {
    margin-right: var(--small);
}

.navigation-left span:not(:first-child) {
    margin-top: .35rem;
}

.navigation-left span:first-child {
    color: var(--red);
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--medium);
}

.navigation svg {
    padding: .15rem;
    width: 2rem;
    height: 2rem;
    fill: var(--white);
}

.navigation-right {
    display: flex;
    align-items: center;
}

.navigation-right svg {
    margin-right: var(--xs);
}

/* VIDEO SECTION */

.section-stories {
    height: 75vh;
    position: relative;
    padding: 15rem 0;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-title {
    position: absolute;
    bottom: 25%;
    left: var(--medium);
}

.section-title h1,
.section-subtitle {
    text-transform: uppercase;
    color: var(--white);
    font-size: var(--xl);
}

.section-brand {
    display: flex;
    align-items: center;
    color: var(--white);
    letter-spacing: var(--xs);
}

.section-brand svg {
    margin-bottom: var(--medium);
    width: 3rem;
    height: 3rem;
}

.section-btn {
    margin-top: var(--small);
}

.section-btn svg {
    width: var(--small);
    height: var(--small);
}

/* MOSAIC VIDEO */

main {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 20vh;
    padding-top: var(--xs);
    padding-bottom: var(--xs);
    background-color: var(--black);
}

.video {
    background-image: url('https://img.youtube.com/vi/nZcejtAwxz4/maxresdefault.jpg');
    max-width: 15.66%; 
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
    display:none !important;
}